body {
    background-image: url('./../img/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 4px;
}

.titulo {
    text-transform: uppercase;
}

.contenedor-tabla {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 4px;
    width: 100%;
    margin: auto;
    padding: 30px;
}

.contenedor-tabla #example {
    width: 98%;
    margin: auto;
}